apache-airflow==2.9.3
apache-airflow-providers-postgres==5.11.1
apache-airflow-providers-http==4.10.1
apache-airflow-providers-slack==8.7.1
dagster==1.8.7
dagster-postgres==0.24.7
dagster-webserver==1.8.7
pandas==2.2.2
pyarrow==17.0.0
pandera==0.20.3
psycopg2-binary==2.9.9
sqlalchemy==1.4.52
requests==2.32.3
python-dotenv==1.0.1
tenacity==8.5.0
duckdb==1.0.0
pytest==8.3.2
pytest-mock==3.14.0
ruff==0.6.2
black==24.8.0
